@tailwind base;
@tailwind components;
@tailwind utilities;

.App-fondo{
  background-image: url('./assets/fondo1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;/* 100% del ancho de la ventana visible */
  margin: 0; /* Elimina el margen predeterminado del cuerpo del documento */
  font-family: 'Zen Dots', sans-serif;
}

.lilita{
  width: 400px;
  height: 250px;
}

.lilithbanner {     
    margin-left: 10%;
    grid-area: imagen;
    max-width: 100%;
    min-width: 50%;
    min-height: fit-content;
    max-height: fit-content; 
}


.lilithtexto { 
    grid-area: texto;
    font-size: 30px;
}






